In [1]:
import pandas as pd
import geopandas as gpd
import fiona
import pymongo

In [71]:
water_df = pd.read_csv("static/data/countypop_2017.csv")
water_df = gpd.GeoDataFrame(water_df)
water_df = water_df.rename(columns={"County": "name"})

In [41]:
mn_df = pd.read_csv("static/data/water.csv")
mn_df = gpd.GeoDataFrame(mn_df)
pop= mn_df.loc[mn_df['year']==2017]
population = pop.groupby(['countyServed','analyteCode'], as_index = False).sum()
population

        countyServed analyteCode     year  populationServed      fips
0             Aitkin     Arsenic  12102.0            3430.0  162006.0
1             Aitkin        HAA5   8068.0            3360.0  108004.0
2             Aitkin     Nitrate  12102.0            3430.0  162006.0
3             Aitkin         PCE  12102.0            3430.0  162006.0
4             Aitkin      Radium  12102.0            3430.0  162006.0
..               ...         ...      ...               ...       ...
642  Yellow Medicine         PCE  12102.0            6420.0  163038.0
643  Yellow Medicine      Radium  18153.0            6774.0  244557.0
644  Yellow Medicine         TCE  12102.0            6420.0  163038.0
645  Yellow Medicine        TTHM  18153.0            6774.0  244557.0
646  Yellow Medicine     Uranium   2017.0             269.0   27173.0

[647 rows x 5 columns]

In [5]:
water_df = gpd.GeoDataFrame(water_df)
water_df.head()

NameError: name 'water_df' is not defined

In [43]:
boundaries_df = gpd.GeoDataFrame(boundaries)
columns = ['intptlat', 'countyfp_nozero', 'lsad', 'intptlon', 'funcstat', 'stusab',
'countyfp','geoid', 'countyns', 'mtfcc', 'classfp', 'statefp', 'aland', 'csafp','cbsafp','awater','namelsad']
boundaries_df.drop(columns, inplace=True, axis=1)
boundaries_df

NameError: name 'boundaries' is not defined

In [42]:
population_df = population.rename(columns={"countyServed": "name"})
population_df

                name analyteCode     year  populationServed      fips
0             Aitkin     Arsenic  12102.0            3430.0  162006.0
1             Aitkin        HAA5   8068.0            3360.0  108004.0
2             Aitkin     Nitrate  12102.0            3430.0  162006.0
3             Aitkin         PCE  12102.0            3430.0  162006.0
4             Aitkin      Radium  12102.0            3430.0  162006.0
..               ...         ...      ...               ...       ...
642  Yellow Medicine         PCE  12102.0            6420.0  163038.0
643  Yellow Medicine      Radium  18153.0            6774.0  244557.0
644  Yellow Medicine         TCE  12102.0            6420.0  163038.0
645  Yellow Medicine        TTHM  18153.0            6774.0  244557.0
646  Yellow Medicine     Uranium   2017.0             269.0   27173.0

[647 rows x 5 columns]

In [73]:
mn_data = gpd.read_file("static/data/MN-county-boundaries.geojson")
mn_data

DriverError: Failed to read GeoJSON data

In [83]:
pop_data = water_df.merge(mn_data,on = 'name')
pop_data.drop('fips', inplace=True, axis=1)
pop_data

,Unnamed: 0,name,Year,Population,analyteCode,year,mean_value,max_value,geometry
0,0,Aitkin,2017,628,Arsenic,2017,3.4,3.5,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
1,0,Aitkin,2017,628,HAA5,2017,2.3,2.3,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
2,0,Aitkin,2017,628,Nitrate,2017,0.0,0.0,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
3,0,Aitkin,2017,628,PCE,2017,0.4,0.4,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
4,0,Aitkin,2017,628,Radium,2017,0.7,0.7,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
...,...,...,...,...,...,...,...,...,...
642,86,Yellow Medicine,2017,809,PCE,2017,0.2,0.2,"POLYGON ((-96.45123 44.71827, -96.45126 44.722..."
643,86,Yellow Medicine,2017,809,Radium,2017,0.5,0.5,"POLYGON ((-96.45123 44.71827, -96.45126 44.722..."
644,86,Yellow Medicine,2017,809,TCE,2017,0.1,0.1,"POLYGON ((-96.45123 44.71827, -96.45126 44.722..."
645,86,Yellow Medicine,2017,809,TTHM,2017,7.4,11.9,"POLYGON ((-96.45123 44.71827, -96.45126 44.722..."
646,86,Yellow Medicine,2017,809,Uranium,2017,20.7,20.7,"POLYGON ((-96.45123 44.71827, -96.45126 44.722..."

In [8]:
mn_df= water_df.groupby(['name','analyteCode','year'],as_index= False)
mn_df =mn_df.mean()

NameError: name 'water_df' is not defined

In [11]:
mn_data

,name,analyteCode,year,mean_value,max_value,fips,geometry
0,Aitkin,Arsenic,2017,3.4,3.5,27001,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
1,Aitkin,HAA5,2017,2.3,2.3,27001,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
2,Aitkin,Nitrate,2017,0.0,0.0,27001,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
3,Aitkin,PCE,2017,0.4,0.4,27001,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
4,Aitkin,Radium,2017,0.7,0.7,27001,"POLYGON ((-93.77799 46.59493, -93.77799 46.595..."
...,...,...,...,...,...,...,...
295,Lincoln,Arsenic,2017,1.0,1.9,27081,"POLYGON ((-96.45187 44.45888, -96.45187 44.460..."
296,Lincoln,HAA5,2017,7.1,11.5,27081,"POLYGON ((-96.45187 44.45888, -96.45187 44.460..."
297,Lincoln,Nitrate,2017,4.8,5.8,27081,"POLYGON ((-96.45187 44.45888, -96.45187 44.460..."
298,Lincoln,PCE,2017,0.5,0.5,27081,"POLYGON ((-96.45187 44.45888, -96.45187 44.460..."
299,Lincoln,Radium,2017,0.5,0.5,27081,"POLYGON ((-96.45187 44.45888, -96.45187 44.460..."

In [21]:
mn_data.astype({'year': 'int', 'name': 'str', 'fips': 'int'}).dtypes

name            object
analyteCode     object
year             int64
mean_value     float64
max_value      float64
fips             int64
intptlat        object
intptlon        object
dtype: object

In [16]:
mn_df.to_csv('mn_water_data.csv')

In [17]:
clean_mn=mn_df.round()
clean_mn

                  name analyteCode  year  mean_value  max_value   fips
0               Aitkin     Arsenic  1998         3.0        3.0  27001
1               Aitkin     Arsenic  1999         3.0        3.0  27001
2               Aitkin     Arsenic  2001         3.0        3.0  27001
3               Aitkin     Arsenic  2002         3.0        3.0  27001
4               Aitkin     Arsenic  2003         3.0        3.0  27001
...                ...         ...   ...         ...        ...    ...
10507  Yellow Medicine     Uranium  2013        21.0       21.0  27173
10508  Yellow Medicine     Uranium  2014        21.0       21.0  27173
10509  Yellow Medicine     Uranium  2015        21.0       21.0  27173
10510  Yellow Medicine     Uranium  2016        21.0       21.0  27173
10511  Yellow Medicine     Uranium  2017        21.0       21.0  27173

[10512 rows x 6 columns]

In [116]:
conn = 'mongodb://localhost:27017'

In [117]:
client = pymongo.MongoClient(conn)

In [118]:
db = client.water_db

In [ ]:
db.water_db.drop()

In [18]:
mn_data.to_csv('mn_water_data-coord.csv', index=False)

In [13]:
mn_data_clean.to_file("mn_water_data-coord.json", driver='GeoJSON', index= False)

NameError: name 'mn_data_clean' is not defined

In [84]:
pop_data.to_file("pop_data.geojson", driver = 'GeoJSON', index = False)

KeyError: 'max_value'